@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #fff url('https://www.tapeciarnia.pl/tapety/normalne/80621_niebieskie_tlo_swiatlo.jpg') no-repeat center;
  margin-top: 5em;
  padding: 20px;
  font-family: 'Cinzel', serif;
}

.ui-sortable {                      
  min-height: 80px;
}  
.create-column {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px;
  height: 45px;
  width: 200px;
  background-color: #2181BB;
  /*80a5a5*/

  color: #fff;
  border: 1px solid #1a1600;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 20px;
  border: 0;
  background-color: #abc;
  opacity: 0.7;
  color: white;
  border: 1px solid #1a1600;
}
.btn-delete:hover {
  opacity: 1.0;
  background-color: #313234;
  cursor: pointer;
}
/* BOARD */
.board h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px #000;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-card {
  background-color: #000000;
  border-radius: 5px;
  color: #fff;
}

/* COLUMN */
.column {
  padding: 10px;
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: #abd;
  margin-left: 8px;
  list-style: none;
  position: relative;
  border: 1px solid #1a1600;
}
.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
}

.column-title {
  color: #fff;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 8px;
  overflow: hidden;
  position: relative;
  color: #fff;
  background-color: #2181BB;
  box-shadow: 5px 5px 3px #888888;
  border-radius: 10px;
  border: 1px solid #1a1600;
  margin-right: 5px;
  letter-spacing: 1px;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 10px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid #d3d3d3;
  background-color: #add8e6;
}
.btn-delete1 {
  float: right;
  height: 25px;
  width: 25px;
  background: darkgray;
  font-weight: bold;
  margin: 2px;
  border-radius: 5px;
}
.add-card {
  background-color: #0B55A0;
}